@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@500;700&display=swap');

:root {
  --primary-colour: #162845;
  --primary-text-colour: #ffffff;
  --primary-accent-colour: #f36c52;
  --background-colour: #fdfdfd;
  --side-margin: 1.3rem;
  --link-colour: #00558b;
  --link-hover-colour: #07304D;
  --separator-colour: #ddd;
  --metadata-colour: #555;
}

body {
  font-family: 'Public Sans', -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 100%;
  line-height: 1.3;
  background: var(--background-colour);
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    width: 640px;
    margin-left: auto;
    margin-right: auto;
  }
}

.header {
  text-align: left;
  padding: 1.5rem var(--side-margin);
  background: var(--primary-colour);
  color: var(--primary-text-colour);
  border-bottom: .4rem solid var(--primary-accent-colour);
}

.header__title {
  font-size: 1.3rem;
  font-weight: normal;
}

.content {
  margin: 2.5rem var(--side-margin) 1.5rem;
}

.content p {
  margin: 1.5rem 0;
  font-size: 1rem;
}

.content a, .content a:link, .content a:visited {
  color: var(--link-colour);
}

.content a:hover, .content a:active {
  color: var(--link-hover-colour);
}

.posts {
  margin: 2rem 0;
  padding: .5rem 0;
  border-top: 1px solid var(--separator-colour);
  border-bottom: 1px solid var(--separator-colour);
}

.post {
  display: flex;
  margin: 1.5rem 0;
}

.post__date {
  min-width: 8rem;
  flex: 0 1 1;
}

.post__title {
  font-weight: bold;
}

.post__author {
  color: var(--metadata-colour);
  margin-top: .25rem;
}
