<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ site.url }}/style.css">
  </head>

  <body>
    <header class="header">
      <div class="container">
        <h1 class="header__title">
          Taking Farmers to Markets<br>
          <div class="header__subtitle">Blog posts</div>
        </h1>
      </div>
    </header>

    <main class="content">
      <div class="container">
        {{ content }}
      </div>
    </main>
  </body>

</html>
